.dock-text {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  user-select: none;
}

.dock-text span {
  transition: color 0.3s ease;
}

.dock-text:hover span {
  color: var(--accent-purple);
}

@media (max-width: 768px) {
  .dock-text {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .dock-text {
    font-size: 1.5rem;
  }
}